body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.input-container,
.output-container {
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: calc(40% - 10px); 
    padding: 10px;
    margin-left: 30%; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff; 
    font-size: large;
    resize: none;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
    font-weight: bold;
}

button:hover {
    background-color: #808080;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: large;
    font-weight: bold;
}
